
/* I use flexbox here to align the central div. */
/* In the case of IE11 support being critical, I would use CSS positioning as I've done in the commented code. */

html {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
/*	position: relative;*/
}

.main {
	height: 400px;
	width: 500px;
	background-color: white;
/*	position: absolute;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -250px;*/
}

